
/*narayan narayan hari hari*/
/*om namah Shivaya*/
/*jai jagganath*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
    font-family: 'Noto Serif JP', serif;
    font-family: 'Poppins', sans-serif;
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --themecolor: #f04c00;
    --themehead: #fff;
}
body{
   color:#fff;
}
.first{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main{
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main .head{
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .heading{
    cursor: default;
    color: #fff;
    font-family: 'Noto Serif JP', serif;
    font-weight: 600;
    font-size: 4em;
    letter-spacing: 22px;
    transition:0.3s;
}
.main .heading:hover{
    color:#fff;
}
.main .japanese{
    cursor: default;
    font-size: 30px;
    letter-spacing: 15px;
    font-weight: 400;
}
.main .divider{
    margin-right: 18px;
    background-color:#fff;
    width: 350px;
    height: 3px;
}
.main .timeline{
    background-color: rgba(30,30,30,0.5);
    height: 100%;
    display: flex;
    align-items: center;
}
.main .timeline ul{
    border-left: 4px solid var(--themecolor);
    height: 100vh;
    padding: 0 20px 0 20px;
    margin:10px 0;
    position:relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.main .timeline ul li::before{
   content: '';
   position: absolute;
   top:100px;
   width: 15px;
   height: 15px;
   left:-10px;
   border-radius: 50%;
   border: 2px solid var(--themecolor);
   background-color: #fff;
} 
.main .timeline ul li .place a{
    font-family: 'Noto Serif JP', serif;
    color:#fff;
    text-decoration: none;
}
.main .timeline ul li .desc{
    font-style: italic;
    overflow: hidden;
}
