@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;500&family=Noto+Serif+JP:wght@200;400;500&display=swap');

/*
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Noto Serif JP', serif;
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#e0c9a6;
    min-height: 250vh;
    scroll-behavior: smooth;
}
.logo{
    position: absolute;
    top:5vh;
    left:10%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 2s;
}
.logo:hover{
    height: 60px;
    width: 60px;
    top:4vh;
    left: 9%;
}
.land{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
}
.land .cont{
    position: absolute;
    top:29%;
    overflow:hidden;
    left: 40%;
}
.land .cont1{
    position: absolute;
    overflow:hidden;
    top:46%;
    left: 40%;
}
.land h1{
    font-size: 80px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    position: relative;
    top:100px;
}
.land h3{
    font-size: 60px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    position: relative;
    bottom:100px;
}
.land .hor{
    position: absolute;
    top:45%;
    left: 30%;
    height: 6px;
    overflow: hidden;
    width: 700px;
    transform-origin:bottom right;
}
.land .hor .line1{
    background-color: black;
    height: 6px;
    width: 700px;
    position: relative;
    left: -700px;
    transform-origin:bottom right;
}
.land .ver{
    position: absolute;
    top:12%;
    left: 70%;
    height: 350px;
    width: 6px;
    overflow:hidden;
}
.land .ver .line2{
    position: relative;
    background-color: black;
    height: 400px;
    width: 6px;
    top:-400px;
}
.land .slider{
    height: 40vh;
    width: 100%;
    position: absolute;
    top:58vh;
    overflow:hidden;
}
.land .slider .slide{
    height: 100%;
    width: 240%;
    position: absolute;
    left:100%;
    transition: 0.5s;
}
.land .slider .slide .img-list{
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.land .slider .slide .img-list .imgc{
    height: 250px;
    width: 380px;
    margin: 0 10px;
}
.land .slider .slide .img-list .imgc img{
    padding: 2px 2px;
    height: 250px;
    width: 380px;
    object-fit: cover;
    border: 3px solid rgba(30,30,30,0.8);
    transition: 0.3s;
    cursor:pointer;
}
.land .slider .slide .img-list .imgc:hover img{
    padding: 0;
}
.land .slider .slide .img-list .msg{
    padding: 5px;
    height: 250px;
    width:150px;
    border: 3px solid rgba(30,30,30,0.8);
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.land .slider .button1,.land .slider .button{
    position: absolute;
    top:45%;
    height:36px;
    width:36px;
    margin-left: 20px;
    color:#fff;
    z-index: 2;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    justify-content: center;
}
.land .slider .button1:hover,.land .slider .button:hover{
    background-color: #a6977f99;
}
.land .slider .button{
    left:95%;
}
#snow,#osaka{
    width:100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#snow .box,#osaka .box{
   width:80%;
   height: 450px;
   margin: 50px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow:hidden;
}
#snow .box .vid,#osaka .box .vid{
    width:70%;
    height: 100%;
    padding:2px 2px;
}
#snow .box .vid video,#osaka .box .vid video{
    width: 100%;
    height: 100%;
}
#snow .box .ver,#osaka .box .ver{
    background-color: #000000;
    height: 444px;
    width: 2px;
    position:relative;
    margin-left: 5px;
    top:-450px;
}
#snow .box .txt,#osaka .box .txt{
   width: 30%;
   padding:4px;
   padding-left: 10px;
   overflow: hidden;
}
#snow .box .txt p,#osaka .box .txt p{
   position: relative;
   font-style: italic;
   font-size:20px;
   left: -120%;
}
#snow .box .txt p span,#osaka .box .txt p span{
   font-size: 30px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head{
    height: 10vh;
    width: 100%;
    overflow: hidden;
}
.head1{
    height: 10vh;
    width: 100%;
    overflow: hidden;
}
.head1 h1{
    font-size:42px;
    font-family: 'Noto Serif JP', serif;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 50px;
    color:rgb(0, 0, 0);
    position:relative;
    left:-400px;
 }
.head h1{
   font-size:42px;
   font-family: 'Noto Serif JP', serif;
   margin-top: 1.5vh;
   margin-bottom: 1.5vh;
   margin-left: 50px;
   color:rgb(0, 0, 0);
   position:relative;
   left:-430px;
}
.chat{
    width: 100%;
    height:80vh;
    margin-top: 10vh;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}
.chat .con,.chat .con2{
    width: 100%;
    height: 40vh;
    display: flex;
}
.chat .chat1{
    margin-left: 30px;
    height: 34vh;
    width: 50%;
    min-width: 50%;
    display: flex;
}
.chat .chat1 .img{
    height: 30vh;
    width: 40%;
    border: 3px solid rgba(30,30,30,0.8);
    overflow: hidden;
}
.chat .chat1 .img img{
    object-fit: cover;
    padding: 2px;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
.chat .chat1 .img img:hover{
    padding:0;
}
.chat .chat1 .txt{
    height: 30vh;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
.chat .chat1 .txt p{
    position: relative;
    left:-120%;
    color:rgb(87, 79, 39);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.chat .chat1 .txt p span{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
.footer{
    border-top: 3px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h1{
    padding: 10px 70px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}
.footer p{
    padding: 10px 70px;
    padding-top: 0;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*jai Jaggannath*/